trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.9'
  displayName: 'Use Python 3.9'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    mkdir $(Build.ArtifactStagingDirectory)/blank-artifact
    echo "This is a test artifact" > $(Build.ArtifactStagingDirectory)/blank-artifact/readme.txt
  displayName: 'Create blank artifact content'

- task: PublishPipelineArtifact@1
  displayName: 'Publish Pipeline Artifact'
  inputs:
    targetPath: '$(System.DefaultWorkingDirectory)/blank-artifact'
    artifact: 'drop'
    publishLocation: 'pipeline'


