trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.9'
  displayName: 'Use Python 3.9'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- task: CopyPublishBuildArtifacts@1
  inputs:
    Contents: 'artifact'
    ArtifactName: 'artifact'
    ArtifactType: 'FilePath'


